## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_copy import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [29]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("VacationPy_Database.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Los Llanos De Aridane,ES,73.15,volcanic ash,28.6585,-17.9182,Valle Aridane
1,3,Barbacoas,CO,80.83,broken clouds,1.6715,-78.1398,edificio justin
2,5,Castro,BR,72.36,few clouds,-24.7911,-50.0119,CHACARA BAILLY
3,6,Rikitea,PF,73.78,few clouds,-23.1203,-134.9692,People ThankYou
4,7,Jamestown,US,62.51,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
5,8,Kavieng,PG,82.33,clear sky,-2.5744,150.7967,Nusa Island Retreat
6,9,Puerto Ayora,EC,71.56,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,10,Anloga,GH,86.22,overcast clouds,5.7947,0.8973,Pin Drop Hotel
8,14,Cape Town,ZA,68.11,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
9,17,Tezu,IN,78.49,scattered clouds,27.9167,96.1667,Circuit House

In [14]:
# 2. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City ID</dt><dd>{City_ID}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
vacation_start = vacation_df.loc[1]
vacation_start

City_ID                              3
City                         Barbacoas
Country                             CO
Max Temp                         80.83
Current Description      broken clouds
Lat                             1.6715
Lng                           -78.1398
Hotel Name             edificio justin
Name: 1, dtype: object

In [19]:
vacation_start = vacation_df.loc[487]
vacation_start

KeyError: 487

In [39]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Coolum Beach"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Coolum Beach"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Byron Bay"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Sawtell"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Port Macquarie"]

In [40]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
australiatrip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2 ,stop3],
        travel_mode='DRIVING')
fig.add_layer(australiatrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,487,Coolum Beach,AU,64.11,overcast clouds,-26.5333,153.1000,Palmer Coolum Resort
1,362,Byron Bay,AU,67.89,few clouds,-28.6500,153.6167,Backpackers Inn on the Beach
2,651,Sawtell,AU,60.82,overcast clouds,-30.3833,153.1000,Island Beach House Sawtell
3,171,Port Macquarie,AU,60.39,overcast clouds,-31.4333,152.9167,Rydges Port Macquarie

In [54]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [55]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))